div{
    width: 300px;
    height: 400px;
    background-color: orange;
    overflow: AUTO;
    border-radius: 20PX;
}
img{
   width:300px ;
}
    /*overflow..,merret me elementet e e tejkalon prindin  */
    
