p{
    width: 150px;
    height: 150px;
    background-color: darkorange;
    /* e caktojm content box */

    border: 3px dashed black; 
    /* solid,,vija e plot
    dashed,,vij hapsir vij
    dotted,, me pika
    double,, 2 border */
    /* nuk dom,ethon qe borderat me pas ngjyra dhe
     madhesi e tipe te njejta ne ton elementin */
     border-bottom: 4px double white;
     border-left: 4px dashed black;
     border-right: 4px dotted white;
     border-top: 4px solid black;

     padding: 55px;
     /* hapsirat krejta ant te njejta */

     padding: 10px 20px;
     /* vlera e pare(top-bottom) vlera e dyte(right-left) */

     padding: 10px 20px 30px;
     /* vlera e pare(top) vlera e dyte(right-left) vlera e tret(bottom)*/

     padding: 10px 20px 30px 40px;
     /* vlera e pare(top) vlera e dyte(right) 
     vlera e tret(bottom) vlera e katert(left)*/

     margin: 50px 40px 30px 20px;
     /* vlen i njejti sen si te padding */
}